*{
    margin: 0;
    padding: 0;
}
.profile {
  width: 100%;
  padding: 16px;
}
h1{
    text-align: center;
}
.btn{
    margin-top: 23px;
    font-size: 14px;
    padding: 12px;
    background-color: var(--ion-color-primary);
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}
input{
  
    width: 100%;
    
}
.add{
   button{
 
    color: white;
    border-radius: 7px;
    background-color: var(--ion-color-primary);
    padding: 12px;
   }
   text-align: end;
}
.lab{
 display: flex;
 margin-bottom: 23px;
align-items: center;
}
label{
    font-size: 14px;
    font-weight: bold;
}
input{
    margin-left: 10px;
}
input {
    width: 100%;
    background-color: #f4f4f4;
    border: none;
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
}
input:focus {
    outline: none;
}
button {
    background-color: var(--ion-color-primary);
    padding: 12px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
}
.submit {
    width: 100%;
    margin-right: 10px;
}
.btns {
    display: flex;
}