.body{
   background-color: '# DSD8DC'; 
}
table{
    width:"700px" ;
    height:"800px";
    align: "center";
}
td{
    width :"250px";
     background-color:"ic2833" ;
     color: 'white'; 
     padding: 20px;
}
img{
    border-radius: 50%;
     height :"225px" ;
     width:"225px";
}