<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Langues</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="profile">
    <p>logo du languest</p>
      <h1>Langues</h1>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="items">
        <div class="item">
          <label for="number">Langue 1</label>
          <input type="text" name="langue1" placeholder="langues" ngModel>
        </div>
        <div class="item">
          <label for="etablissement">Niveau /5</label>
          <input type="number" name="niveau1" placeholder="langues" id="niveau" ngModel>
        </div>
      </div>

      <div class="items">
        <div class="item">
          <label for="number">Langue 2</label>
          <input type="text" name="langue2" placeholder="langues" ngModel>
        </div>
        <div class="item">
          <label for="etablissement">Niveau /5</label>
          <input type="number" name="niveau2" placeholder="langues" id="niveau" ngModel>
        </div>
      </div>

      <div class="btns">
        <button class="submit">Submit</button>
      </div>
    </form>
  </section>

</ion-content>
